In [ ]:
appname = "crew_members assignment"

# Look into https://spark.apache.org/downloads.html for the latest version
spark_mirror = "https://mirrors.sonic.net/apache/spark"
spark_version = "3.3.1"
hadoop_version = "3"

# Install Java 8 (Spark does not work with newer Java versions)
#! apt-get update if openjdk fails
! apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Download and extract Spark binary distribution
! rm -rf spark-{spark_version}-bin-hadoop{hadoop_version}.tgz spark-{spark_version}-bin-hadoop{hadoop_version}
! wget -q {spark_mirror}/spark-{spark_version}/spark-{spark_version}-bin-hadoop{hadoop_version}.tgz
! tar xzf spark-{spark_version}-bin-hadoop{hadoop_version}.tgz

# The only 2 environment variables needed to set up Java and Spark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/spark-{spark_version}-bin-hadoop{hadoop_version}"

# Set up the Spark environment based on the environment variable SPARK_HOME 
! pip install -q findspark
import findspark
findspark.init()

# Get the Spark session object (basic entry point for every operation)
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName(appname).master("local[*]").getOrCreate()

In [ ]:
from pyspark import SparkFiles
spark.sparkContext.addFile('/content/drive/MyDrive/Colab Notebooks/cruise_ship_info.csv')
crew = spark.read.option("header","true").csv('/content/drive/MyDrive/Colab Notebooks/cruise_ship_info.csv')

crew.show(10)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 10 rows

In [ ]:
crew.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Tonnage: string (nullable = true)
 |-- passengers: string (nullable = true)
 |-- length: string (nullable = true)
 |-- cabins: string (nullable = true)
 |-- passenger_density: string (nullable = true)
 |-- crew: string (nullable = true)

In [ ]:
crew.describe().toPandas()

,summary,Ship_name,Cruise_line,Age,Tonnage,passengers,length,cabins,passenger_density,crew
0,count,158,158,158,158,158,158,158,158,158
1,mean,Infinity,None,15.689873417721518,71.28467088607599,18.45740506329114,8.130632911392404,8.830000000000005,39.90094936708861,7.794177215189873
2,stddev,None,None,7.615691058751413,37.229540025907866,9.677094775143416,1.793473548054825,4.4714172221480615,8.63921711391542,3.503486564627034
3,min,Adventure,Azamara,10,10.0,0.66,10.2,0.33,17.7,0.59
4,max,Zuiderdam,Windstar,9,93.0,9.52,9.65,9.87,71.43,9.99

In [ ]:
#searching for Null or NaN values
from pyspark.sql.functions import *

crew.select([count(when(isnan(x) | col(x).isNull(), x)).alias(x) for x in crew.columns]
   ).show()

+---------+-----------+---+-------+----------+------+------+-----------------+----+
|Ship_name|Cruise_line|Age|Tonnage|passengers|length|cabins|passenger_density|crew|
+---------+-----------+---+-------+----------+------+------+-----------------+----+
|        0|          0|  0|      0|         0|     0|     0|                0|   0|
+---------+-----------+---+-------+----------+------+------+-----------------+----+

In [ ]:
data2 = crew.drop('Ship_name')

for y in data2.columns[1:len(data2.columns)]:
  data2=data2.withColumn(y,col(y).cast("float"))

In [ ]:
data2.printSchema()

train_data, test_data = data2.randomSplit([0.67, 0.33])

root
 |-- Cruise_line: string (nullable = true)
 |-- Age: float (nullable = true)
 |-- Tonnage: float (nullable = true)
 |-- passengers: float (nullable = true)
 |-- length: float (nullable = true)
 |-- cabins: float (nullable = true)
 |-- passenger_density: float (nullable = true)
 |-- crew: float (nullable = true)

In [ ]:
train_data.show(5)

+-----------+---+-------+----------+------+------+-----------------+----+
|Cruise_line|Age|Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+---+-------+----------+------+------+-----------------+----+
|    Azamara|  6| 30.277|      6.94|  5.94|  3.55|            42.64|3.55|
|   Carnival| 10|  110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|   Carnival| 11|  110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|   Carnival| 12|   88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|   Carnival| 15| 70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+---+-------+----------+------+------+-----------------+----+
only showing top 5 rows

In [ ]:
from pyspark.ml.feature import (OneHotEncoder, StringIndexer)

cruise_indexer = StringIndexer(inputCol='Cruise_line', outputCol='Cruise_index')
cruise_encoder = OneHotEncoder(inputCol='Cruise_index', outputCol='Cruise')

In [ ]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols=['Cruise','Age','Tonnage','passengers','length','cabins','passenger_density'],
                            outputCol='features')

In [ ]:
from pyspark.ml.regression import LinearRegression

lr = LinearRegression(featuresCol='features', labelCol='crew')

In [ ]:
from pyspark.ml import Pipeline

pipeline = Pipeline(stages=[cruise_indexer, cruise_encoder, assembler, lr])

model = pipeline.fit(train_data)

In [ ]:
output = model.transform(test_data)
output.show(50)

+-----------------+----+-------+----------+------+------+-----------------+-----+------------+---------------+--------------------+------------------+
|      Cruise_line| Age|Tonnage|passengers|length|cabins|passenger_density| crew|Cruise_index|         Cruise|            features|        prediction|
+-----------------+----+-------+----------+------+------+-----------------+-----+------------+---------------+--------------------+------------------+
|         Carnival| 6.0|110.239|      37.0|  9.51| 14.87|            29.79| 11.5|         1.0| (19,[1],[1.0])|(25,[1,19,20,21,2...|11.503542605606622|
|         Carnival| 9.0|  110.0|     29.74|  9.52| 14.87|            36.99| 11.6|         1.0| (19,[1],[1.0])|(25,[1,19,20,21,2...| 12.24390930882047|
|         Carnival|11.0|   86.0|     21.24|  9.63| 10.62|            40.49|  9.3|         1.0| (19,[1],[1.0])|(25,[1,19,20,21,2...| 9.793082181844884|
|         Carnival|11.0|  110.0|     29.74|  9.53| 14.88|            36.99| 19.1|         1.0| (19,[1],[1.0])|(25,[1,19,20,21,2...|12.247673108304308|
|         Carnival|13.0|101.509|     27.58|  8.93| 13.79|            36.81| 11.5|         1.0| (19,[1],[1.0])|(25,[1,19,20,21,2...|11.314320503652668|
|         Carnival|17.0|101.353|     26.42|  8.92| 13.21|            38.36| 10.0|         1.0| (19,[1],[1.0])|(25,[1,19,20,21,2...| 11.00407407850655|
|         Carnival|19.0| 70.367|     20.52|  8.55|  10.2|            34.29|  9.2|         1.0| (19,[1],[1.0])|(25,[1,19,20,21,2...| 8.842119162325893|
|         Carnival|23.0| 70.367|     20.56|  8.55| 10.22|            34.23|  9.2|         1.0| (19,[1],[1.0])|(25,[1,19,20,21,2...|  8.83713472417616|
|        Celebrity|12.0|   91.0|     20.32|  9.65|  9.75|            44.78| 9.99|         5.0| (19,[5],[1.0])|(25,[5,19,20,21,2...| 9.717634624954966|
|        Celebrity|17.0| 77.713|      18.9|  8.66|  9.35|            41.12| 9.09|         5.0| (19,[5],[1.0])|(25,[5,19,20,21,2...| 8.944043495078601|
|        Celebrity|18.0| 70.606|      17.7|  8.15|  8.75|            39.89| 8.58|         5.0| (19,[5],[1.0])|(25,[5,19,20,21,2...| 8.318010286225663|
|            Costa|10.0|   86.0|     21.14|   9.6| 10.56|            40.68|  9.2|         6.0| (19,[6],[1.0])|(25,[6,19,20,21,2...| 9.228133746757766|
|            Costa|10.0|  105.0|      27.2|   8.9| 13.56|             38.6|10.68|         6.0| (19,[6],[1.0])|(25,[6,19,20,21,2...|10.720140587178973|
|            Costa|20.0| 53.049|     13.44|  7.22|  6.78|            39.47|  6.0|         6.0| (19,[6],[1.0])|(25,[6,19,20,21,2...|5.8259525689216645|
|            Costa|22.0| 52.926|     13.02|  7.18|  6.54|            40.65| 6.17|         6.0| (19,[6],[1.0])|(25,[6,19,20,21,2...| 5.677949524678105|
|           Cunard| 6.0|   90.0|      20.0|  9.64| 10.29|             45.0|  9.0|        16.0|(19,[16],[1.0])|(25,[16,19,20,21,...|10.409035731176788|
| Holland_American|13.0|   61.0|      13.8|   7.8|  6.88|             44.2|  6.0|         3.0| (19,[3],[1.0])|(25,[3,19,20,21,2...|6.2384809821413665|
| Holland_American|13.0|   63.0|      14.4|  7.77|   7.2|            43.75| 5.31|         3.0| (19,[3],[1.0])|(25,[3,19,20,21,2...| 6.418921663614021|
| Holland_American|14.0|   63.0|      14.4|  7.77|   7.2|            43.75| 5.61|         3.0| (19,[3],[1.0])|(25,[3,19,20,21,2...| 6.415192792577798|
| Holland_American|19.0| 55.451|     12.66|  7.19|  6.33|             43.8| 5.88|         3.0| (19,[3],[1.0])|(25,[3,19,20,21,2...| 5.608012938283232|
|              MSC| 9.0| 59.058|      17.0|  7.63|   8.5|            34.74|  7.4|         7.0| (19,[7],[1.0])|(25,[7,19,20,21,2...| 7.038295993820137|
|              MSC|10.0| 58.825|      15.6|  8.23|  7.65|            37.71|  7.0|         7.0| (19,[7],[1.0])|(25,[7,19,20,21,2...|6.8302706002133675|
|              MSC|11.0|   58.6|     15.66|  8.23|  7.83|            37.42|  7.6|         7.0| (19,[7],[1.0])|(25,[7,19,20,21,2...| 6.943614640902306|
|              MSC|31.0| 35.143|      12.5|  6.69|  5.32|            28.11| 5.35|         7.0| (19,[7],[1.0])|(25,[7,19,20,21,2...| 4.390007523734781|
|        Norwegian| 8.0|   91.0|     22.44|  9.65| 11.22|            40.55| 11.0|         2.0| (19,[2],[1.0])|(25,[2,19,20,21,2...|10.345903718760937|
|        Norwegian|11.0|   90.0|      22.4|  9.65|  11.2|            40.18| 11.0|         2.0| (19,[2],[1.0])|(25,[2,19,20,21,2...| 10.30875566333234|
|              P&O| 5.0|  115.0|     35.74|   9.0| 15.32|            32.18| 12.2|        11.0|(19,[11],[1.0])|(25,[11,19,20,21,...|11.743091170622847|
|              P&O| 9.0|   85.0|     19.68|  9.35|  9.84|            43.19| 8.69|        11.0|(19,[11],[1.0])|(25,[11,19,20,21,...| 9.212097270353885|
|              P&O|29.0|   45.0|     11.78|  7.54|   5.3|             38.2|  5.2|        11.0|(19,[11],[1.0])|(25,[11,19,20,21,...| 5.371199960713691|
|         Princess| 6.0|  113.0|     37.82|  9.51| 15.57|            29.88| 12.0|         4.0| (19,[4],[1.0])|(25,[4,19,20,21,2...|11.714024323181707|
|         Princess| 8.0| 77.499|      19.5|  8.56|  9.75|            39.74|  9.0|         4.0| (19,[4],[1.0])|(25,[4,19,20,21,2...| 8.552063857669678|
|         Princess| 9.0|  113.0|     26.74|  9.51| 13.37|            42.26|12.38|         4.0| (19,[4],[1.0])|(25,[4,19,20,21,2...|11.296263320157886|
|         Princess| 9.0|  113.0|     26.74|  9.51| 13.37|            42.26|12.38|         4.0| (19,[4],[1.0])|(25,[4,19,20,21,2...|11.296263320157886|
|         Princess| 9.0|  116.0|      26.0|  9.51|  13.0|            44.62| 11.0|         4.0| (19,[4],[1.0])|(25,[4,19,20,21,2...|11.160406678910093|
|         Princess|12.0|108.865|     27.58|  9.51|  13.0|            39.47| 11.0|         4.0| (19,[4],[1.0])|(25,[4,19,20,21,2...|10.868491415876782|
|         Princess|16.0| 77.499|      19.5|  8.56|  10.5|            39.74|  9.0|         4.0| (19,[4],[1.0])|(25,[4,19,20,21,2...| 9.054143606270456|
|Regent_Seven_Seas|16.0|   19.2|       3.2|  5.13|   1.6|             60.0| 2.11|         8.0| (19,[8],[1.0])|(25,[8,19,20,21,2...|2.6961628464736087|
|  Royal_Caribbean| 5.0|  160.0|     36.34| 11.12| 18.17|            44.03| 13.6|         0.0| (19,[0],[1.0])|(25,[0,19,20,21,2...|14.429887814714528|
|  Royal_Caribbean|10.0|  138.0|     31.14|  10.2| 15.57|            44.32|11.85|         0.0| (19,[0],[1.0])|(25,[0,19,20,21,2...|12.398968568146712|
|  Royal_Caribbean|11.0|  90.09|     25.01|  9.62|  10.5|            36.02| 8.48|         0.0| (19,[0],[1.0])|(25,[0,19,20,21,2...| 8.461854348341767|
|  Royal_Caribbean|13.0|  138.0|     31.14|  10.2| 15.57|            44.32|11.76|         0.0| (19,[0],[1.0])|(25,[0,19,20,21,2...|12.387781955038047|
|  Royal_Caribbean|15.0| 78.491|     24.35|  9.15|  10.0|            32.23|  6.6|         0.0| (19,[0],[1.0])|(25,[0,19,20,21,2...|  7.78369258703351|
|  Royal_Caribbean|16.0| 74.137|      19.5|  9.16|  9.75|            38.02|  7.6|         0.0| (19,[0],[1.0])|(25,[0,19,20,21,2...| 8.054991599954091|
|  Royal_Caribbean|22.0| 73.941|     27.44|   8.8| 11.77|            30.94| 8.22|         0.0| (19,[0],[1.0])|(25,[0,19,20,21,2...| 8.497547789131913|
|        Silversea|19.0|   16.8|      2.96|  5.14|  1.48|            56.76| 1.97|        13.0|(19,[13],[1.0])|(25,[13,19,20,21,...|2.1301780708344182|
|             Star|14.0|   76.8|      19.6|  8.79|  9.67|            39.18| 12.0|         9.0| (19,[9],[1.0])|(25,[9,19,20,21,2...| 9.465988824682585|
|             Star|22.0|  3.341|      0.66|  2.79|  0.33|            50.62| 0.59|         9.0| (19,[9],[1.0])|(25,[9,19,20,21,2...|1.2555772096094058|
|         Windstar|27.0|   5.35|      1.67|   4.4|  0.74|            32.04| 0.88|        18.0|(19,[18],[1.0])|(25,[18,19,20,21,...|0.6222913709331583|
+-----------------+----+-------+----------+------+------+-----------------+-----+------------+---------------+--------------------+------------------+